form {
    padding: 20px;
  }

  
  .row-1 {
    margin-left: 200px;
    margin-top: -55px;
  }
  
  .temperature {
    font-size: 12px;
    font-weight: bold;
    position: relative;
    top: -23px;
  }
  
  .temperatureGeo {
    position: relative;
    top: 2px;
    color: #fff;
    background-color: rgb(227, 58, 25);
    border-color: rgb(227, 58, 25);
    margin: 20px;
    padding: 5px 10px 5px;
    border-radius: 3px;
  }
  
  li {
    list-style-type: none;
  }
  ul {
    padding-left: 0px;
  }
  .sourceLink{
    margin-top: 8px;
    font-size: 10px;
    margin-left: 260px;
    
  }
  .weather_ap{
    border: 1px solid #dadde1;
    padding: 15px;
    margin: 20px auto;
    border-radius: 10px;
    max-width: 600px;
  }

  